<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc766e7a-3bc4-420f-9a89-83bf72dc84ec" Alias="Ads" Level="2">
  <Info>
    <Parent Key="71e2d555-7f7c-4d64-82fb-0acafad94d06">Images</Parent>
    <Path>/Images/Ads</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-02T23:57:19</CreateDate>
    <NodeName Default="Ads" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>