<?xml version="1.0" encoding="utf-8"?>
<Media Key="1933955c-0373-4c3e-a188-8ab48b969bed" Alias="ِAdvertisements" Level="2">
  <Info>
    <Parent Key="71e2d555-7f7c-4d64-82fb-0acafad94d06">Images</Parent>
    <Path>/Images/Advertisements</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-20T16:19:39</CreateDate>
    <NodeName Default="ِAdvertisements" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>