<?xml version="1.0" encoding="utf-8"?>
<Media Key="badc2ff9-ec09-4a90-b19b-0478c51db5af" Alias="Articles" Level="2">
  <Info>
    <Parent Key="71e2d555-7f7c-4d64-82fb-0acafad94d06">Images</Parent>
    <Path>/Images/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-28T11:44:33</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>