<?xml version="1.0" encoding="utf-8"?>
<Media Key="71e6b694-fdbf-4827-87b5-c91529c5ae5d" Alias="example.png" Level="3">
  <Info>
    <Parent Key="f6d0ddb3-baf7-4007-b27d-d054f9d8e235">Policies and Procedures</Parent>
    <Path>/Images/PoliciesAndProcedures/examplepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T08:05:31</CreateDate>
    <NodeName Default="example.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dn4kbr4w/example.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>