<?xml version="1.0" encoding="utf-8"?>
<Media Key="5221df9b-db5b-423e-aa2c-b329d18e82f3" Alias="fiori-logo.png" Level="3">
  <Info>
    <Parent Key="ec4ddfd6-9f43-42be-88f0-8bd3e81615c3">SystemLinks</Parent>
    <Path>/Images/SystemLinks/fioriLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-26T16:07:47</CreateDate>
    <NodeName Default="fiori-logo.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/cqkhpzbs/fiori-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>