<?xml version="1.0" encoding="utf-8"?>
<Media Key="30ea06db-37be-4954-a285-99c17481c1ed" Alias="hr.png" Level="4">
  <Info>
    <Parent Key="20daea58-9c65-4839-8958-5f048bb56cec">Videos Thumbnail</Parent>
    <Path>/Images/KnowledgeCenter/VideosThumbnail/hrpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T10:20:06</CreateDate>
    <NodeName Default="hr.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ktgkzbwx/hr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>