<?xml version="1.0" encoding="utf-8"?>
<Media Key="71e2d555-7f7c-4d64-82fb-0acafad94d06" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-16T12:29:57</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>