<?xml version="1.0" encoding="utf-8"?>
<Media Key="1193f1dd-47ab-455d-b335-171ecfc00799" Alias="IT-Networking-Fundamentals-For-Complete-Beginners 1.png" Level="4">
  <Info>
    <Parent Key="20daea58-9c65-4839-8958-5f048bb56cec">Videos Thumbnail</Parent>
    <Path>/Images/KnowledgeCenter/VideosThumbnail/ITNetworkingFundamentalsForCompleteBeginners1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T10:18:14</CreateDate>
    <NodeName Default="IT-Networking-Fundamentals-For-Complete-Beginners 1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ki3nlj4c/it-networking-fundamentals-for-complete-beginners-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>