<?xml version="1.0" encoding="utf-8"?>
<Media Key="a984ec52-2bf4-4315-ad53-5f3e66acc199" Alias="logo.png" Level="3">
  <Info>
    <Parent Key="61d55da6-1bee-49d6-962e-1dcb5ea49151">Logos</Parent>
    <Path>/Images/Logos/logopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-16T23:03:07</CreateDate>
    <NodeName Default="logo.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1utmeh23/logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>