<?xml version="1.0" encoding="utf-8"?>
<Media Key="61d55da6-1bee-49d6-962e-1dcb5ea49151" Alias="Logos" Level="2">
  <Info>
    <Parent Key="71e2d555-7f7c-4d64-82fb-0acafad94d06">Images</Parent>
    <Path>/Images/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-16T11:54:29</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>