<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2b30e7d-130a-435d-a3c9-e9d09ed484b4" Alias="logo-with-company-name.png" Level="3">
  <Info>
    <Parent Key="61d55da6-1bee-49d6-962e-1dcb5ea49151">Logos</Parent>
    <Path>/Images/Logos/logoWithCompanyNamepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-16T11:54:38</CreateDate>
    <NodeName Default="logo-with-company-name.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4lcpkfdd/logo-with-company-name.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>