<?xml version="1.0" encoding="utf-8"?>
<Media Key="210b0a3b-3c57-46b7-a273-14375ef63ce7" Alias="marketing.png" Level="4">
  <Info>
    <Parent Key="20daea58-9c65-4839-8958-5f048bb56cec">Videos Thumbnail</Parent>
    <Path>/Images/KnowledgeCenter/VideosThumbnail/marketingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T10:20:05</CreateDate>
    <NodeName Default="marketing.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wtae1fz4/marketing.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>