<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6789345-dc3e-4921-9135-3a7d3c41bd5c" Alias="News" Level="2">
  <Info>
    <Parent Key="71e2d555-7f7c-4d64-82fb-0acafad94d06">Images</Parent>
    <Path>/Images/News</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-16T17:12:33</CreateDate>
    <NodeName Default="News" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>