<?xml version="1.0" encoding="utf-8"?>
<Media Key="06242233-a7a5-4ba5-9e18-fa22747ed7be" Alias="one-drive-logo.png" Level="3">
  <Info>
    <Parent Key="ec4ddfd6-9f43-42be-88f0-8bd3e81615c3">SystemLinks</Parent>
    <Path>/Images/SystemLinks/oneDriveLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-26T16:07:47</CreateDate>
    <NodeName Default="one-drive-logo.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xtugfmgm/one-drive-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>