<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fbbc210-1e7e-41f6-a3e2-10c687f7f0f6" Alias="Porlicies and proceders" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PorliciesAndProceders</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-17T00:50:23</CreateDate>
    <NodeName Default="Porlicies and proceders" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>