<?xml version="1.0" encoding="utf-8"?>
<Media Key="d24756b3-de2b-4f65-a4db-fc431c890a89" Alias="S 08-2025-29.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:03</CreateDate>
    <NodeName Default="S 08-2025-29.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hsoaczcc/s-08-2025-29.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>