<?xml version="1.0" encoding="utf-8"?>
<Media Key="acadda13-d890-4958-b8e7-a69bd68095dd" Alias="S 08-2025-16.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:05</CreateDate>
    <NodeName Default="S 08-2025-16.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tqiowgxz/s-08-2025-16.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>