<?xml version="1.0" encoding="utf-8"?>
<Media Key="04dd1eed-26fd-475a-8b7b-5e85c792849c" Alias="S 08-2025-14.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:05</CreateDate>
    <NodeName Default="S 08-2025-14.jpg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mlkjxmuu/s-08-2025-14.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>