<?xml version="1.0" encoding="utf-8"?>
<Media Key="f920746c-373f-40b3-bfbc-2ade56f4d3bd" Alias="S 08-2025-07.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:05</CreateDate>
    <NodeName Default="S 08-2025-07.jpg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2o5gmt0w/s-08-2025-07.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>