<?xml version="1.0" encoding="utf-8"?>
<Media Key="198d9d25-211c-4831-a531-1d39486cf279" Alias="S 08-2025-34.png" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:03</CreateDate>
    <NodeName Default="S 08-2025-34.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vjlnxl1v/s-08-2025-34.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>