<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d584ca8-5316-49de-940e-82b25ddfe3ca" Alias="S 08-2025-11.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:05</CreateDate>
    <NodeName Default="S 08-2025-11.jpg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e4db3o15/s-08-2025-11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>