<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfe9689f-ab85-4b2e-9498-7140bdd2e565" Alias="S 08-2025-13.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:05</CreateDate>
    <NodeName Default="S 08-2025-13.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ccrk4cpm/s-08-2025-13.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>