<?xml version="1.0" encoding="utf-8"?>
<Media Key="a090f52f-2a27-433e-8e1f-cffbf26fbb8e" Alias="S 08-2025-04.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:05</CreateDate>
    <NodeName Default="S 08-2025-04.jpg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ua5nmfso/s-08-2025-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>