<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bb6a160-8895-4ec4-9c0c-c4e75a1e939e" Alias="S 08-2025-31.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:03</CreateDate>
    <NodeName Default="S 08-2025-31.jpg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/33vpbtp2/s-08-2025-31.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>