<?xml version="1.0" encoding="utf-8"?>
<Media Key="858c02c0-8b57-4b7c-b60a-37850b886c36" Alias="S 08-2025-06.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:05</CreateDate>
    <NodeName Default="S 08-2025-06.jpg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j5emumz4/s-08-2025-06.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>