<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd038a06-9f3d-46dc-825b-1ef865210cbb" Alias="S 08-2025-05.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:05</CreateDate>
    <NodeName Default="S 08-2025-05.jpg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rfaek40u/s-08-2025-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>