<?xml version="1.0" encoding="utf-8"?>
<Media Key="6db6ad8c-964d-4410-8f23-af8b3fad3a11" Alias="S 08-2025-23.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:03</CreateDate>
    <NodeName Default="S 08-2025-23.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/antpbwze/s-08-2025-23.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>