<?xml version="1.0" encoding="utf-8"?>
<Media Key="8897e929-176b-4a3b-bd79-fd38d70ad6f1" Alias="S 08-2025-32.jpg" Level="3">
  <Info>
    <Parent Key="1933955c-0373-4c3e-a188-8ab48b969bed">ِAdvertisements</Parent>
    <Path>/Images/Advertisements/SJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-20T16:20:03</CreateDate>
    <NodeName Default="S 08-2025-32.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uyrncpqc/s-08-2025-32.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>