<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d0872da-c3a1-46b5-b9a3-408e547aac4c" Alias="SAP 1.png" Level="4">
  <Info>
    <Parent Key="20daea58-9c65-4839-8958-5f048bb56cec">Videos Thumbnail</Parent>
    <Path>/Images/KnowledgeCenter/VideosThumbnail/SAP1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-31T10:18:13</CreateDate>
    <NodeName Default="SAP 1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kw2e3k4i/sap-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>