<?xml version="1.0" encoding="utf-8"?>
<Media Key="20daea58-9c65-4839-8958-5f048bb56cec" Alias="Videos Thumbnail" Level="3">
  <Info>
    <Parent Key="a2e7ef45-c81d-4fe8-abc3-d01e0177ad2d">KnowledgeCenter</Parent>
    <Path>/Images/KnowledgeCenter/VideosThumbnail</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-08-31T10:17:37</CreateDate>
    <NodeName Default="Videos Thumbnail" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>