<?xml version="1.0" encoding="utf-8"?>
<Media Key="49db08eb-6223-4420-aa56-6a8ad7f4948d" Alias="WiSys-Achieves-SAP-Expert-Level-in-ERP-Cloud-ERP-HCM-and-BTP-.png" Level="3">
  <Info>
    <Parent Key="f6789345-dc3e-4921-9135-3a7d3c41bd5c">News</Parent>
    <Path>/Images/News/WiSysAchievesSAPExpertLevelInERPCloudERPHCMAndBTPPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-17T15:34:43</CreateDate>
    <NodeName Default="WiSys-Achieves-SAP-Expert-Level-in-ERP-Cloud-ERP-HCM-and-BTP-.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mtbj150k/wisys-achieves-sap-expert-level-in-erp-cloud-erp-hcm-and-btp.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>