<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa83887b-6d75-4fae-9820-855bc25f74b8" Alias="zoho-analytics-logo.png" Level="3">
  <Info>
    <Parent Key="ec4ddfd6-9f43-42be-88f0-8bd3e81615c3">SystemLinks</Parent>
    <Path>/Images/SystemLinks/zohoAnalyticsLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-26T16:07:48</CreateDate>
    <NodeName Default="zoho-analytics-logo.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4rbmkha2/zoho-analytics-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>