<?xml version="1.0" encoding="utf-8"?>
<Media Key="42a371bf-05a6-4460-a5b2-7c660296165c" Alias="zoho-crm-logo.png" Level="3">
  <Info>
    <Parent Key="ec4ddfd6-9f43-42be-88f0-8bd3e81615c3">SystemLinks</Parent>
    <Path>/Images/SystemLinks/zohoCrmLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-26T16:07:47</CreateDate>
    <NodeName Default="zoho-crm-logo.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gc3pl3gp/zoho-crm-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>