<?xml version="1.0" encoding="utf-8"?>
<Media Key="5426eb9e-4934-4a12-8a6d-698ea41bb3ed" Alias="المزيد من أبرز أحداث فعالية SAP Business One على سحابة هواوي!.png" Level="3">
  <Info>
    <Parent Key="f6789345-dc3e-4921-9135-3a7d3c41bd5c">News</Parent>
    <Path>/Images/News/SAPBusinessOnePng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-25T10:59:07</CreateDate>
    <NodeName Default="المزيد من أبرز أحداث فعالية SAP Business One على سحابة هواوي!.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ceqhbys3/\u0627\u0644\u0645\u0632\u064A\u062F-\u0645\u0646-\u0623\u0628\u0631\u0632-\u0623\u062D\u062F\u0627\u062B-\u0641\u0639\u0627\u0644\u064A\u0629-sap-business-one-\u0639\u0644\u0649-\u0633\u062D\u0627\u0628\u0629-\u0647\u0648\u0627\u0648\u064A.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>