<?xml version="1.0" encoding="utf-8"?>
<Media Key="a922dfe1-7d62-4255-8db8-008b7fa8f0e4" Alias="الأمن السيبراني في عصر التطبيقات الذكي-  كيف تحمي بياناتك.png" Level="3">
  <Info>
    <Parent Key="badc2ff9-ec09-4a90-b19b-0478c51db5af">Articles</Parent>
    <Path>/Images/Articles/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-28T11:58:04</CreateDate>
    <NodeName Default="الأمن السيبراني في عصر التطبيقات الذكي-  كيف تحمي بياناتك.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nykhihyl/\u0627\u0644\u0623\u0645\u0646-\u0627\u0644\u0633\u064A\u0628\u0631\u0627\u0646\u064A-\u0641\u064A-\u0639\u0635\u0631-\u0627\u0644\u062A\u0637\u0628\u064A\u0642\u0627\u062A-\u0627\u0644\u0630\u0643\u064A-\u0643\u064A\u0641-\u062A\u062D\u0645\u064A-\u0628\u064A\u0627\u0646\u0627\u062A\u0643.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>