<?xml version="1.0" encoding="utf-8"?>
<Media Key="65325764-201b-45d9-96c9-6e46a27071dc" Alias="الحوسبة السحابية Serverless و Microservices كيف تبني تطبيقات المستقبل بسرعة ومرونة؟.png" Level="3">
  <Info>
    <Parent Key="badc2ff9-ec09-4a90-b19b-0478c51db5af">Articles</Parent>
    <Path>/Images/Articles/ServerlessMicroservicesPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-28T11:50:53</CreateDate>
    <NodeName Default="الحوسبة السحابية Serverless و Microservices كيف تبني تطبيقات المستقبل بسرعة ومرونة؟.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3oohju1s/\u0627\u0644\u062D\u0648\u0633\u0628\u0629-\u0627\u0644\u0633\u062D\u0627\u0628\u064A\u0629-serverless-\u0648-microservices-\u0643\u064A\u0641-\u062A\u0628\u0646\u064A-\u062A\u0637\u0628\u064A\u0642\u0627\u062A-\u0627\u0644\u0645\u0633\u062A\u0642\u0628\u0644-\u0628\u0633\u0631\u0639\u0629-\u0648\u0645\u0631\u0648\u0646\u0629.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>