<?xml version="1.0" encoding="utf-8"?>
<Media Key="54938bdd-a7e4-4921-8252-5a1b4e4f8846" Alias="الوعي باستخدام OneDrive وحماية البيانات.png" Level="3">
  <Info>
    <Parent Key="cc766e7a-3bc4-420f-9a89-83bf72dc84ec">Ads</Parent>
    <Path>/Images/Ads/OneDrivePng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-02T23:59:08</CreateDate>
    <NodeName Default="الوعي باستخدام OneDrive وحماية البيانات.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kjanlyun/\u0627\u0644\u0648\u0639\u064A-\u0628\u0627\u0633\u062A\u062E\u062F\u0627\u0645-onedrive-\u0648\u062D\u0645\u0627\u064A\u0629-\u0627\u0644\u0628\u064A\u0627\u0646\u0627\u062A.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>