<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b03b00b-9a44-4130-a93b-6f262f2a0e30" Alias="التوعية بأمن المعلومات - ضوابط الأمن المادي والبيئي.png" Level="3">
  <Info>
    <Parent Key="cc766e7a-3bc4-420f-9a89-83bf72dc84ec">Ads</Parent>
    <Path>/Images/Ads/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-02T23:59:08</CreateDate>
    <NodeName Default="التوعية بأمن المعلومات - ضوابط الأمن المادي والبيئي.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qr3el1jn/\u0627\u0644\u062A\u0648\u0639\u064A\u0629-\u0628\u0623\u0645\u0646-\u0627\u0644\u0645\u0639\u0644\u0648\u0645\u0627\u062A-\u0636\u0648\u0627\u0628\u0637-\u0627\u0644\u0623\u0645\u0646-\u0627\u0644\u0645\u0627\u062F\u064A-\u0648\u0627\u0644\u0628\u064A\u0626\u064A.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>