<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8cc87d6-4193-41be-b00e-fff43bafe56c" Alias="التطوير متعدد المنصات 2025 كيف يغيّر Flutter وReact Native قواعد اللعبة؟.png" Level="3">
  <Info>
    <Parent Key="badc2ff9-ec09-4a90-b19b-0478c51db5af">Articles</Parent>
    <Path>/Images/Articles/FlutterReactNativePng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-28T11:53:45</CreateDate>
    <NodeName Default="التطوير متعدد المنصات 2025 كيف يغيّر Flutter وReact Native قواعد اللعبة؟.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lfgju1x0/\u0627\u0644\u062A\u0637\u0648\u064A\u0631-\u0645\u062A\u0639\u062F\u062F-\u0627\u0644\u0645\u0646\u0635\u0627\u062A-2025-\u0643\u064A\u0641-\u064A\u063A\u064A-\u0631-flutter-\u0648react-native-\u0642\u0648\u0627\u0639\u062F-\u0627\u0644\u0644\u0639\u0628\u0629.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>