<?xml version="1.0" encoding="utf-8"?>
<Media Key="340e2f3d-5108-4260-bb74-f738a94b4e64" Alias="دليل استخدام تطبيق الحضور والانصراف.pdf" Level="2">
  <Info>
    <Parent Key="4fbbc210-1e7e-41f6-a3e2-10c687f7f0f6">Porlicies and proceders</Parent>
    <Path>/PorliciesAndProceders/pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-09-18T12:54:04</CreateDate>
    <NodeName Default="دليل استخدام تطبيق الحضور والانصراف.pdf" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3xwnnumk/دليل-استخدام-تطبيق-الحضور-والانصراف.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>