<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e8ec4b9-9c4f-4c33-b959-1b685343bcd3" Alias="سياسة السلامة والوقاية.pdf" Level="2">
  <Info>
    <Parent Key="4fbbc210-1e7e-41f6-a3e2-10c687f7f0f6">Porlicies and proceders</Parent>
    <Path>/PorliciesAndProceders/pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-09-18T12:54:04</CreateDate>
    <NodeName Default="سياسة السلامة والوقاية.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nedenw4n/سياسة-السلامة-والوقاية.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>