<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e23ef00-abc6-456d-871c-29c452195d7f" Alias="لائحة تنظيم العمل.pdf" Level="2">
  <Info>
    <Parent Key="4fbbc210-1e7e-41f6-a3e2-10c687f7f0f6">Porlicies and proceders</Parent>
    <Path>/PorliciesAndProceders/pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-09-18T12:54:04</CreateDate>
    <NodeName Default="لائحة تنظيم العمل.pdf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0awpxs0e/لائحة-تنظيم-العمل.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>