<?xml version="1.0" encoding="utf-8"?>
<Media Key="820ac8aa-47f5-4c3b-a4a4-93e29aef7dee" Alias="وايسس تبدأ عام 2025 بقوة!.png" Level="3">
  <Info>
    <Parent Key="f6789345-dc3e-4921-9135-3a7d3c41bd5c">News</Parent>
    <Path>/Images/News/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-25T00:09:23</CreateDate>
    <NodeName Default="وايسس تبدأ عام 2025 بقوة!.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eubeyne2/\u0648\u0627\u064A\u0633\u0633-\u062A\u0628\u062F\u0623-\u0639\u0627\u0645-2025-\u0628\u0642\u0648\u0629.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>