<?xml version="1.0" encoding="utf-8"?>
<Media Key="aec1add8-9e1e-4cbd-8704-4aabf4013a4c" Alias="يسعدنا أن نشارك معكم نجاح مشروعنا الأخير مع شركة الدواجن الوطنية.png" Level="3">
  <Info>
    <Parent Key="f6789345-dc3e-4921-9135-3a7d3c41bd5c">News</Parent>
    <Path>/Images/News/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-17T15:49:54</CreateDate>
    <NodeName Default="يسعدنا أن نشارك معكم نجاح مشروعنا الأخير مع شركة الدواجن الوطنية.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k3tjogdx/\u064A\u0633\u0639\u062F\u0646\u0627-\u0623\u0646-\u0646\u0634\u0627\u0631\u0643-\u0645\u0639\u0643\u0645-\u0646\u062C\u0627\u062D-\u0645\u0634\u0631\u0648\u0639\u0646\u0627-\u0627\u0644\u0623\u062E\u064A\u0631-\u0645\u0639-\u0634\u0631\u0643\u0629-\u0627\u0644\u062F\u0648\u0627\u062C\u0646-\u0627\u0644\u0648\u0637\u0646\u064A\u0629.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>