<?xml version="1.0" encoding="utf-8"?>
<Content Key="25d25022-9ff3-486d-8a3d-bf62cad17f4d" Alias="ArticleDetails" Level="2">
  <Info>
    <Parent Key="daa4e244-4153-45e8-b1af-0bb634916a8f">الرئيسية</Parent>
    <Path>//ArticleDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>articleDetailsModel</ContentType>
    <CreateDate>2025-08-14T02:10:06</CreateDate>
    <NodeName Default="ArticleDetails">
      <Name Culture="ar">ArticleDetails</Name>
      <Name Culture="en">ArticleDetails</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>