<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ec73ea2-14f5-4808-be8b-07249511bd15" Alias="News" Level="2">
  <Info>
    <Parent Key="daa4e244-4153-45e8-b1af-0bb634916a8f">الرئيسية</Parent>
    <Path>//News</Path>
    <Trashed>false</Trashed>
    <ContentType>newsModel</ContentType>
    <CreateDate>2025-08-14T01:44:28</CreateDate>
    <NodeName Default="News" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4c96a01a-1b2a-4735-b7b5-e6944f5d7cab">news</Template>
  </Info>
  <Properties />
</Content>