<?xml version="1.0" encoding="utf-8"?>
<Content Key="a183e7ec-300a-4fcc-8693-d755f1855062" Alias="الملف الشخصي" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>profile</ContentType>
    <CreateDate>2025-08-14T09:49:45</CreateDate>
    <NodeName Default="الملف الشخصي">
      <Name Culture="ar">الملف الشخصي</Name>
      <Name Culture="en">Profile</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="dfd7a0d0-f663-4f56-b911-dbd76e6b572b">Profile</Template>
  </Info>
  <Properties />
</Content>