<?xml version="1.0" encoding="utf-8"?>
<Content Key="e904b8a6-df31-4122-b2eb-808a95837a9d" Alias="الخدمات الالكترونية" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>systemLinksModel</ContentType>
    <CreateDate>2025-08-14T08:39:35</CreateDate>
    <NodeName Default="الخدمات الالكترونية" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9a8c9530-4b22-4371-8df6-6f24d9d5dce2">systemLinksPage</Template>
  </Info>
  <Properties>
    <links>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "22c5dd68-514a-4c18-a6c9-397f5347406b",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "405a9422-afb2-4af7-b146-403b16ba7f52",
              "mediaKey": "5221df9b-db5b-423e-aa2c-b329d18e82f3",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Fiori"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "fiori2.wisys.com.sa",
              "target": "_blank",
              "udi": null,
              "url": "https://fiori2.wisys.com.sa/sap/bc/ui5_ui5/ui2/ushell/shells/abap/FioriLaunchpad.html",
              "queryString": null
            }
          ]
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showInQuickList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "beda616e-c4df-4607-8610-763fb45c376d",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bec8cb0e-af46-4a98-bb8a-62951545b114",
              "mediaKey": "dc566543-b09c-402a-90ff-0fd356be81cf",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Sap B1"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "sapwisys.wisys.com.sa",
              "target": "_blank",
              "udi": null,
              "url": "https://sapwisys.wisys.com.sa/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showInQuickList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "f556adb0-ea6a-4076-a70b-03c5c869824c",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0e7e2ce4-7c07-49a1-be8c-2651f5ce5f32",
              "mediaKey": "930691d6-20b9-42d3-a1c8-ea8ed506e126",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "contracts.wisys.com.sa",
              "target": "_blank",
              "udi": null,
              "url": "https://contracts.wisys.com.sa/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contracts"
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "32296fed-01e1-4932-a328-a0bd1be72fcd",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dd750915-e862-4f1e-9bee-1cfffe0c3213",
              "mediaKey": "b6e2c67f-a96f-4e7f-bb53-14460b74ea68",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "WiSys ServiceDesk"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "support.wisys.com.sa",
              "target": "_blank",
              "udi": null,
              "url": "https://support.wisys.com.sa/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "722867e0-5a3e-4a80-9db9-29d6414a66ff",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8c8cb497-adaa-4ed8-b50c-018518295768",
              "mediaKey": "42a371bf-05a6-4460-a5b2-7c660296165c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Zoho CRM"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "one.zoho.com",
              "target": "_blank",
              "udi": null,
              "url": "https://one.zoho.com",
              "queryString": null
            }
          ]
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showInQuickList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "3c3e992a-eea6-4072-9f46-737ed78bdd0a",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fd00bc54-ee04-4f78-957d-f14c009aae37",
              "mediaKey": "1256da84-e614-4ebb-8415-bf9d4cbcf968",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Meetings System"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "meetings.wisys.com.sa",
              "target": "_blank",
              "udi": null,
              "url": "https://meetings.wisys.com.sa/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "b8960fb8-279d-4d9c-b528-b8b8826b8d6a",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "105a88cb-b343-42a9-9570-07d863c5acf7",
              "mediaKey": "06242233-a7a5-4ba5-9e18-fa22747ed7be",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OneDrive"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "wisyssp-my.sharepoint.com",
              "target": "_blank",
              "udi": null,
              "url": "https://wisyssp-my.sharepoint.com/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showInQuickList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "8600389c-741b-4bb4-b081-ccb6487d82ac",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bd2f4f88-4219-4fa7-8e96-38dee3956ce2",
              "mediaKey": "53008ea4-8363-47c8-8c7a-078b9a26f7f5",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "TSplus"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "sapwisys.wisys.com.sa",
              "target": "_blank",
              "udi": null,
              "url": "https://sapwisys.wisys.com.sa/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "4abaffc9-0b9e-4663-8c4f-0ec837c7eb66",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "31976a4a-26cf-4863-a88e-6af5b8708c6e",
              "mediaKey": "109aa149-09c2-49b2-a42d-863afe7bce5b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Microsoft 365"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "login.microsoftonline.com",
              "target": "_blank",
              "udi": null,
              "url": "https://login.microsoftonline.com/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "6eae15af-77b3-4255-8d8e-9a4d51392b7b",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c81f427c-2f03-4c2e-9489-e8a0f8dd9fe2",
              "mediaKey": "aa83887b-6d75-4fae-9820-855bc25f74b8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Zoho Analytics"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "analytics.zoho.com",
              "target": "_blank",
              "udi": null,
              "url": "https://analytics.zoho.com/",
              "queryString": null
            }
          ]
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "key": "3543bd9a-23b4-4969-b0fe-26a9c57767d4",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fe187fd5-fab9-40c1-97fe-7a29abc14293",
              "mediaKey": "b5ed8858-7217-48f8-966c-9b69fccc6e9f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Incorta"
        },
        {
          "alias": "isVisible",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "incorta-prod.wisys.com.sa",
              "target": "_blank",
              "udi": null,
              "url": "https://incorta-prod.wisys.com.sa/incorta",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "22c5dd68-514a-4c18-a6c9-397f5347406b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "beda616e-c4df-4607-8610-763fb45c376d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f556adb0-ea6a-4076-a70b-03c5c869824c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "32296fed-01e1-4932-a328-a0bd1be72fcd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "722867e0-5a3e-4a80-9db9-29d6414a66ff",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3c3e992a-eea6-4072-9f46-737ed78bdd0a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b8960fb8-279d-4d9c-b528-b8b8826b8d6a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8600389c-741b-4bb4-b081-ccb6487d82ac",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4abaffc9-0b9e-4663-8c4f-0ec837c7eb66",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6eae15af-77b3-4255-8d8e-9a4d51392b7b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3543bd9a-23b4-4969-b0fe-26a9c57767d4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "22c5dd68-514a-4c18-a6c9-397f5347406b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "beda616e-c4df-4607-8610-763fb45c376d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f556adb0-ea6a-4076-a70b-03c5c869824c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "32296fed-01e1-4932-a328-a0bd1be72fcd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "722867e0-5a3e-4a80-9db9-29d6414a66ff",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3c3e992a-eea6-4072-9f46-737ed78bdd0a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b8960fb8-279d-4d9c-b528-b8b8826b8d6a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8600389c-741b-4bb4-b081-ccb6487d82ac",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4abaffc9-0b9e-4663-8c4f-0ec837c7eb66",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6eae15af-77b3-4255-8d8e-9a4d51392b7b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3543bd9a-23b4-4969-b0fe-26a9c57767d4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </links>
  </Properties>
</Content>