<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a1a28c7-b2df-4e68-929d-65d5cfc4d47d" Alias="الحساب" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>authModel</ContentType>
    <CreateDate>2025-09-01T10:17:07</CreateDate>
    <NodeName Default="الحساب">
      <Name Culture="ar">الحساب</Name>
      <Name Culture="en">Account</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="b294a151-1d61-409a-9036-e6dda291a3b0">loginPage</Template>
  </Info>
  <Properties />
</Content>