<?xml version="1.0" encoding="utf-8"?>
<Content Key="76013c26-e263-45e7-8cd5-7ae29b0d5632" Alias="سياسات وإجراءات" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>policiesModel</ContentType>
    <CreateDate>2025-08-14T08:56:26</CreateDate>
    <NodeName Default="سياسات وإجراءات">
      <Name Culture="ar">سياسات وإجراءات</Name>
      <Name Culture="en">Policies &amp; Procedures</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="4c27312f-b5e1-4a82-b7fd-4fcfe055203e">policies</Template>
  </Info>
  <Properties>
    <policiesList>
      <Value Culture="ar"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cbaa7ae1-71e8-4c66-be7f-9dc2a24b6909",
      "key": "14cd851b-de60-4c25-8afe-6af4cde717af",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u062F\u0644\u064A\u0644 \u0627\u0633\u062A\u062E\u062F\u0627\u0645 \u062A\u0637\u0628\u064A\u0642 \u0627\u0644\u062D\u0636\u0648\u0631 \u0648\u0627\u0644\u0627\u0646\u0635\u0631\u0627\u0641"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Procedure"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "\u062F\u0644\u064A\u0644 \u0627\u0633\u062A\u062E\u062F\u0627\u0645 \u062A\u0637\u0628\u064A\u0642 \u0627\u0644\u062D\u0636\u0648\u0631 \u0648\u0627\u0644\u0627\u0646\u0635\u0631\u0627\u0641",
              "target": "_blank",
              "udi": "umb://media/340e2f3d51084260bb74f738a94b4e64",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "cbaa7ae1-71e8-4c66-be7f-9dc2a24b6909",
      "key": "785169e7-8b08-45f5-b52f-b8370b42ad00",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0644\u0627\u0626\u062D\u0629 \u062A\u0646\u0638\u064A\u0645 \u0627\u0644\u0639\u0645\u0644"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "\u0644\u0627\u0626\u062D\u0629 \u062A\u0646\u0638\u064A\u0645 \u0627\u0644\u0639\u0645\u0644.pdf",
              "target": "_blank",
              "udi": "umb://media/2e23ef00abc6456d871c29c452195d7f",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Policy"
          ]
        },
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "cbaa7ae1-71e8-4c66-be7f-9dc2a24b6909",
      "key": "5b7f9fbb-7347-48ed-a819-33e52c7b060e",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0633\u064A\u0627\u0633\u0629 \u0627\u0644\u0625\u0628\u0644\u0627\u063A \u0639\u0646 \u0627\u0644\u062D\u0648\u0627\u062F\u062B"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "\u0633\u064A\u0627\u0633\u0629 \u0627\u0644\u0625\u0628\u0644\u0627\u063A \u0639\u0646 \u0627\u0644\u062D\u0648\u0627\u062F\u062B.pdf",
              "target": "_blank",
              "udi": "umb://media/e8c8d151246540d2824ee96c68b569d7",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Policy"
          ]
        },
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "cbaa7ae1-71e8-4c66-be7f-9dc2a24b6909",
      "key": "557e13ed-9c02-4eaf-8217-9b93c447abf4",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0633\u064A\u0627\u0633\u0629 \u0627\u0644\u0633\u0644\u0627\u0645\u0629 \u0648\u0627\u0644\u0648\u0642\u0627\u064A\u0629"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "\u0633\u064A\u0627\u0633\u0629 \u0627\u0644\u0625\u0628\u0644\u0627\u063A \u0639\u0646 \u0627\u0644\u062D\u0648\u0627\u062F\u062B",
              "target": "_blank",
              "udi": "umb://media/e8c8d151246540d2824ee96c68b569d7",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Policy"
          ]
        },
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "14cd851b-de60-4c25-8afe-6af4cde717af",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "14cd851b-de60-4c25-8afe-6af4cde717af",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "785169e7-8b08-45f5-b52f-b8370b42ad00",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "785169e7-8b08-45f5-b52f-b8370b42ad00",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "5b7f9fbb-7347-48ed-a819-33e52c7b060e",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "5b7f9fbb-7347-48ed-a819-33e52c7b060e",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "557e13ed-9c02-4eaf-8217-9b93c447abf4",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "557e13ed-9c02-4eaf-8217-9b93c447abf4",
      "culture": "en",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "14cd851b-de60-4c25-8afe-6af4cde717af",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "785169e7-8b08-45f5-b52f-b8370b42ad00",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5b7f9fbb-7347-48ed-a819-33e52c7b060e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "557e13ed-9c02-4eaf-8217-9b93c447abf4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cbaa7ae1-71e8-4c66-be7f-9dc2a24b6909",
      "key": "3cf15dbd-abe0-4bf7-9004-a1ab1fae37dc",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Attendance and Departure App User Guide"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Attendance and Departure App User Guide",
              "target": "_blank",
              "udi": "umb://media/340e2f3d51084260bb74f738a94b4e64",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Procedure"
          ]
        },
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "cbaa7ae1-71e8-4c66-be7f-9dc2a24b6909",
      "key": "aa60149e-df5b-4b25-a92c-1755741b89a0",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Work Regulations"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "\u0644\u0627\u0626\u062D\u0629 \u062A\u0646\u0638\u064A\u0645 \u0627\u0644\u0639\u0645\u0644.pdf",
              "target": "_blank",
              "udi": "umb://media/2e23ef00abc6456d871c29c452195d7f",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Policy"
          ]
        },
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "cbaa7ae1-71e8-4c66-be7f-9dc2a24b6909",
      "key": "7022855e-9fd0-4fdb-9f7b-0d761ea66b67",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Incident Reporting Policy"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "\u0633\u064A\u0627\u0633\u0629 \u0627\u0644\u0625\u0628\u0644\u0627\u063A \u0639\u0646 \u0627\u0644\u062D\u0648\u0627\u062F\u062B",
              "target": "_blank",
              "udi": "umb://media/e8c8d151246540d2824ee96c68b569d7",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Policy"
          ]
        },
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "cbaa7ae1-71e8-4c66-be7f-9dc2a24b6909",
      "key": "85fbb7b4-7800-4674-96fe-5678a73b6f6a",
      "udi": null,
      "values": [
        {
          "alias": "label",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Health and Safety Policy"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "\u0633\u064A\u0627\u0633\u0629 \u0627\u0644\u0633\u0644\u0627\u0645\u0629 \u0648\u0627\u0644\u0648\u0642\u0627\u064A\u0629.pdf",
              "target": "_blank",
              "udi": "umb://media/3e8ec4b99c4f4c33b9591b685343bcd3",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Policy"
          ]
        },
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3cf15dbd-abe0-4bf7-9004-a1ab1fae37dc",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "3cf15dbd-abe0-4bf7-9004-a1ab1fae37dc",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "aa60149e-df5b-4b25-a92c-1755741b89a0",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "aa60149e-df5b-4b25-a92c-1755741b89a0",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "7022855e-9fd0-4fdb-9f7b-0d761ea66b67",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "7022855e-9fd0-4fdb-9f7b-0d761ea66b67",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "85fbb7b4-7800-4674-96fe-5678a73b6f6a",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "85fbb7b4-7800-4674-96fe-5678a73b6f6a",
      "culture": "ar",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3cf15dbd-abe0-4bf7-9004-a1ab1fae37dc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "aa60149e-df5b-4b25-a92c-1755741b89a0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7022855e-9fd0-4fdb-9f7b-0d761ea66b67",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "85fbb7b4-7800-4674-96fe-5678a73b6f6a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </policiesList>
    <title>
      <Value Culture="ar"><![CDATA[سياسات وإجراءات]]></Value>
      <Value Culture="en"><![CDATA[Policies & Procedures]]></Value>
    </title>
  </Properties>
</Content>