<?xml version="1.0" encoding="utf-8"?>
<Content Key="b48f6bc6-c0ed-482d-873c-3d5fc05c168b" Alias="سياسة الخصوصية" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>legalModel</ContentType>
    <CreateDate>2025-08-14T02:30:26</CreateDate>
    <NodeName Default="سياسة الخصوصية" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="923c0e50-0f6c-45ba-b70a-14c5759c8977">privacyPage</Template>
  </Info>
  <Properties />
</Content>