<?xml version="1.0" encoding="utf-8"?>
<Content Key="15a6b2a9-de6a-4a14-9cd0-2896974cf5ef" Alias="شروط الاستخدام" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>legalModel</ContentType>
    <CreateDate>2025-08-14T02:28:38</CreateDate>
    <NodeName Default="شروط الاستخدام" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c58d5a4f-892e-4b1b-8583-cb55931ceaeb">termsPage</Template>
  </Info>
  <Properties />
</Content>