<?xml version="1.0" encoding="utf-8"?>
<Content Key="88b23c9f-7bc5-4213-a2f6-95e0fe49ecbf" Alias="مركز المعرفة" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>knowledgeCenterModel</ContentType>
    <CreateDate>2025-08-14T09:11:37</CreateDate>
    <NodeName Default="مركز المعرفة">
      <Name Culture="ar">مركز المعرفة</Name>
      <Name Culture="en">Knowledge Center</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="1de8ef55-0e83-49ba-b3db-19413f18c9c7">knowledgeCenterPage</Template>
  </Info>
  <Properties>
    <courses>
      <Value Culture="ar"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "ee731a01-079b-40e1-912c-c7c7556abc61",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u062A\u0637\u0648\u064A\u0631 \u062A\u0637\u0628\u064A\u0642\u0627\u062A \u0645\u0648\u0628\u0627\u064A\u0644 \u0628\u0627\u0633\u062A\u062E\u062F\u0627\u0645 Flutter"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Application Development"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.freecodecamp.org",
              "target": "_blank",
              "udi": null,
              "url": "https://www.freecodecamp.org/news/learn-flutter-full-course",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "c4fc096b-6b5e-4ae1-9762-7ac7cd3aded5",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0623\u0645\u0646 \u0627\u0644\u0645\u0639\u0644\u0648\u0645\u0627\u062A \u0648\u0645\u0628\u0627\u062F\u0626 \u0627\u0644\u062D\u0645\u0627\u064A\u0629 \u0627\u0644\u0633\u064A\u0628\u0631\u0627\u0646\u064A\u0629"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Information Technology (IT)"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dc2b62fd-893f-466c-b0e8-3142d3f7a2d7",
              "mediaKey": "1193f1dd-47ab-455d-b335-171ecfc00799",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.coursera.org",
              "target": null,
              "udi": null,
              "url": "https://www.coursera.org/learn/cyber-security-fundamentals",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "16746d3a-97e6-407b-be12-42af2bcb7841",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0625\u062F\u0627\u0631\u0629 \u0627\u0644\u0646\u0638\u0627\u0645 BASIS \u0628\u0627\u0633\u062A\u062E\u062F\u0627\u0645 SAP"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "SAP"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c638aae7-a617-4782-ae41-93319cdc5f91",
              "mediaKey": "1d0872da-c3a1-46b5-b9a3-408e547aac4c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "learning.sap.com",
              "target": null,
              "udi": null,
              "url": "https://learning.sap.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "4e88e702-4fd1-4944-a8ed-c4d9e027bfc1",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0627\u0644\u062A\u0633\u0648\u064A\u0642 \u0627\u0644\u0631\u0642\u0645\u064A \u0648\u0627\u0633\u062A\u0631\u0627\u062A\u064A\u062C\u064A\u0627\u062A \u0627\u0644\u0645\u062D\u062A\u0648\u0649"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Marketing"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "academy.hubspot.com",
              "target": "_blank",
              "udi": null,
              "url": "https://academy.hubspot.com/courses/digital-marketing",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "62f37a45-d000-4c73-b259-c92f82037ca3",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u062A\u0642\u0646\u064A\u0627\u062A \u0627\u0644\u0645\u0628\u064A\u0639\u0627\u062A \u0648\u0625\u062F\u0627\u0631\u0629 \u0639\u0644\u0627\u0642\u0627\u062A \u0627\u0644\u0639\u0645\u0644\u0627\u0621"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Sales"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "academy.hubspot.com",
              "target": "_blank",
              "udi": null,
              "url": "https://academy.hubspot.com/courses/sales-manager-training-program",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "8b6e4e39-ac92-402d-8629-580fe76e7b19",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0625\u062F\u0627\u0631\u0629 \u0627\u0644\u0645\u0648\u0627\u0631\u062F \u0627\u0644\u0628\u0634\u0631\u064A\u0629 \u0648\u062A\u0637\u0648\u064A\u0631 \u0627\u0644\u0643\u0641\u0627\u0621\u0627\u062A"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Human Resources (HR)"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.coursera.org",
              "target": null,
              "udi": null,
              "url": "https://www.coursera.org/courses?query=human\u002Bresource\u002Bmanagement",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ee731a01-079b-40e1-912c-c7c7556abc61",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "ee731a01-079b-40e1-912c-c7c7556abc61",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "c4fc096b-6b5e-4ae1-9762-7ac7cd3aded5",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "c4fc096b-6b5e-4ae1-9762-7ac7cd3aded5",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "16746d3a-97e6-407b-be12-42af2bcb7841",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "16746d3a-97e6-407b-be12-42af2bcb7841",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "4e88e702-4fd1-4944-a8ed-c4d9e027bfc1",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "4e88e702-4fd1-4944-a8ed-c4d9e027bfc1",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "62f37a45-d000-4c73-b259-c92f82037ca3",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "62f37a45-d000-4c73-b259-c92f82037ca3",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "8b6e4e39-ac92-402d-8629-580fe76e7b19",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "8b6e4e39-ac92-402d-8629-580fe76e7b19",
      "culture": "en",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ee731a01-079b-40e1-912c-c7c7556abc61",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c4fc096b-6b5e-4ae1-9762-7ac7cd3aded5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "16746d3a-97e6-407b-be12-42af2bcb7841",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4e88e702-4fd1-4944-a8ed-c4d9e027bfc1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "62f37a45-d000-4c73-b259-c92f82037ca3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8b6e4e39-ac92-402d-8629-580fe76e7b19",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "536ab75e-577d-4c0c-a2b8-13927aebd0b6",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Mobile Application Development using Flutter"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Application Development"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.freecodecamp.org",
              "target": null,
              "udi": null,
              "url": "https://www.freecodecamp.org/news/learn-flutter-full-course",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "4601fbaf-e3bc-4207-9352-3b75b352b6fc",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Information Security and Cybersecurity Principles"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Information Technology (IT)"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "15173baa-2934-491f-97b1-10b40a9cc8a4",
              "mediaKey": "1193f1dd-47ab-455d-b335-171ecfc00799",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.coursera.org",
              "target": null,
              "udi": null,
              "url": "https://www.coursera.org/learn/cyber-security-fundamentals",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "abda83e6-e882-488f-b639-e098df253a1e",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "System Administration BASIS using SAP"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "SAP"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "learning.sap.com",
              "target": null,
              "udi": null,
              "url": "https://learning.sap.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "d69d1be9-4af6-4138-bd54-6d3e2c7df5d2",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Digital Marketing and Content Strategies"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Marketing"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "academy.hubspot.com",
              "target": null,
              "udi": null,
              "url": "https://academy.hubspot.com/courses/digital-marketing",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "ed16740b-e3f2-46b5-9ab8-e3b7af21de7d",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Sales Techniques and Customer Relationship Management (CRM)"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Human Resources (HR)"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "academy.hubspot.com",
              "target": null,
              "udi": null,
              "url": "https://academy.hubspot.com/courses/sales-manager-training-program",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "7aa5fabc-e1dc-4ffa-9dbf-78fc68e57521",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Human Resources Management and Talent Development"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Human Resources (HR)"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.coursera.org",
              "target": null,
              "udi": null,
              "url": "https://www.coursera.org/courses?query=human\u002Bresource\u002Bmanagement",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "536ab75e-577d-4c0c-a2b8-13927aebd0b6",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "536ab75e-577d-4c0c-a2b8-13927aebd0b6",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "4601fbaf-e3bc-4207-9352-3b75b352b6fc",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "4601fbaf-e3bc-4207-9352-3b75b352b6fc",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "abda83e6-e882-488f-b639-e098df253a1e",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "abda83e6-e882-488f-b639-e098df253a1e",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "d69d1be9-4af6-4138-bd54-6d3e2c7df5d2",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "d69d1be9-4af6-4138-bd54-6d3e2c7df5d2",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "ed16740b-e3f2-46b5-9ab8-e3b7af21de7d",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "ed16740b-e3f2-46b5-9ab8-e3b7af21de7d",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "7aa5fabc-e1dc-4ffa-9dbf-78fc68e57521",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "7aa5fabc-e1dc-4ffa-9dbf-78fc68e57521",
      "culture": "ar",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "536ab75e-577d-4c0c-a2b8-13927aebd0b6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4601fbaf-e3bc-4207-9352-3b75b352b6fc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "abda83e6-e882-488f-b639-e098df253a1e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d69d1be9-4af6-4138-bd54-6d3e2c7df5d2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ed16740b-e3f2-46b5-9ab8-e3b7af21de7d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7aa5fabc-e1dc-4ffa-9dbf-78fc68e57521",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </courses>
    <title>
      <Value Culture="ar"><![CDATA[مركز المعرفة]]></Value>
      <Value Culture="en"><![CDATA[Knowledge Center]]></Value>
    </title>
    <videos>
      <Value Culture="ar"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "019f8a34-4654-418a-95e0-4f5d4171e5db",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u062A\u0637\u0648\u064A\u0631 \u062A\u0637\u0628\u064A\u0642\u0627\u062A \u0645\u0648\u0628\u0627\u064A\u0644 \u0628\u0627\u0633\u062A\u062E\u062F\u0627\u0645 Flutter"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=ExKYjqgswJg",
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Application Development"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "32f5746b-3fd6-42a6-9eb7-24ffbb9bd28d",
              "mediaKey": "f8180285-3ffa-4582-ab85-6e1d9071ad56",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "25292f99-732d-4072-b24e-c5d61b872daa",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0623\u0645\u0646 \u0627\u0644\u0645\u0639\u0644\u0648\u0645\u0627\u062A \u0648\u0645\u0628\u0627\u062F\u0626 \u0627\u0644\u062D\u0645\u0627\u064A\u0629 \u0627\u0644\u0633\u064A\u0628\u0631\u0627\u0646\u064A\u0629"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=bPVaOlJ6ln0",
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Information Technology (IT)"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0691a9cb-81b3-41fd-b354-bc038682bad2",
              "mediaKey": "1193f1dd-47ab-455d-b335-171ecfc00799",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "dccee415-6d17-4594-beeb-33b254bd9aea",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": " \u0625\u062F\u0627\u0631\u0629 \u0627\u0644\u0646\u0638\u0627\u0645 BASIS \u0628\u0627\u0633\u062A\u062E\u062F\u0627\u0645 SAP"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "SAP"
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=6cG4Ok9h_2I",
              "queryString": null
            }
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c52a91ec-f921-4817-9f09-280488eb471e",
              "mediaKey": "1d0872da-c3a1-46b5-b9a3-408e547aac4c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "4ed14c12-b3bf-415a-8f85-ee5c00a1f110",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0627\u0644\u062A\u0633\u0648\u064A\u0642 \u0627\u0644\u0631\u0642\u0645\u064A \u0648\u0627\u0633\u062A\u0631\u0627\u062A\u064A\u062C\u064A\u0627\u062A \u0627\u0644\u0645\u062D\u062A\u0648\u0649"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=_ufBjA76gvs",
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Marketing"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ec533390-3353-40a8-a6af-2eb065791f1e",
              "mediaKey": "210b0a3b-3c57-46b7-a273-14375ef63ce7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "4a7889cc-c8f1-49f1-b657-83889d8a4b25",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u062A\u0642\u0646\u064A\u0627\u062A \u0627\u0644\u0645\u0628\u064A\u0639\u0627\u062A \u0648\u0625\u062F\u0627\u0631\u0629 \u0639\u0644\u0627\u0642\u0627\u062A \u0627\u0644\u0639\u0645\u0644\u0627\u0621"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=AidVY30HW2Q",
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Sales"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "038c0c30-93a8-4c04-9459-5288bbefe8dd",
              "mediaKey": "b47158d0-f5b9-41ba-8b93-8f7294e1bb2b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "f3e8cf65-19ca-46da-9b8c-b61c9eb07e13",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "ar",
          "editorAlias": null,
          "segment": null,
          "value": "\u0625\u062F\u0627\u0631\u0629 \u0627\u0644\u0645\u0648\u0627\u0631\u062F \u0627\u0644\u0628\u0634\u0631\u064A\u0629 \u0648\u062A\u0637\u0648\u064A\u0631 \u0627\u0644\u0643\u0641\u0627\u0621\u0627\u062A"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=X9btnkbpxrY",
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Human Resources (HR)"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b6e1ebbd-9fa3-40a5-949f-7b89d3fbc2c3",
              "mediaKey": "30ea06db-37be-4954-a285-99c17481c1ed",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "019f8a34-4654-418a-95e0-4f5d4171e5db",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "019f8a34-4654-418a-95e0-4f5d4171e5db",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "25292f99-732d-4072-b24e-c5d61b872daa",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "25292f99-732d-4072-b24e-c5d61b872daa",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "dccee415-6d17-4594-beeb-33b254bd9aea",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "dccee415-6d17-4594-beeb-33b254bd9aea",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "4ed14c12-b3bf-415a-8f85-ee5c00a1f110",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "4ed14c12-b3bf-415a-8f85-ee5c00a1f110",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "4a7889cc-c8f1-49f1-b657-83889d8a4b25",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "4a7889cc-c8f1-49f1-b657-83889d8a4b25",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "f3e8cf65-19ca-46da-9b8c-b61c9eb07e13",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "f3e8cf65-19ca-46da-9b8c-b61c9eb07e13",
      "culture": "en",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "019f8a34-4654-418a-95e0-4f5d4171e5db",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "25292f99-732d-4072-b24e-c5d61b872daa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "dccee415-6d17-4594-beeb-33b254bd9aea",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4ed14c12-b3bf-415a-8f85-ee5c00a1f110",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4a7889cc-c8f1-49f1-b657-83889d8a4b25",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f3e8cf65-19ca-46da-9b8c-b61c9eb07e13",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
      <Value Culture="en"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "152e3ef6-402f-450d-a82e-9ca23616c8cb",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Mobile Application Development using Flutter"
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=ExKYjqgswJg",
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Application Development"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "50615d43-9897-439b-8411-a32c6ad564ad",
              "mediaKey": "f8180285-3ffa-4582-ab85-6e1d9071ad56",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "1c00b446-b642-42a2-a6e3-601688ceb26f",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=bPVaOlJ6ln0",
              "queryString": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Information Security and Cybersecurity Principles"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Information Technology (IT)"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c7268b46-08d0-4481-a04a-aa7fde53ebab",
              "mediaKey": "1193f1dd-47ab-455d-b335-171ecfc00799",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "bfc4c9b5-3b2b-4d67-b9e8-a20171b6a2f0",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=6cG4Ok9h_2I",
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "SAP"
          ]
        },
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "System Administration BASIS using SAP"
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e1e80a8a-b4df-4a69-b951-0ccf24393751",
              "mediaKey": "1d0872da-c3a1-46b5-b9a3-408e547aac4c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "f84ed7bd-eec1-471d-a9b5-d206acdc937d",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=_ufBjA76gvs",
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Marketing"
          ]
        },
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Digital Marketing and Content Strategies"
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5258593c-750e-424f-b167-fc8abc83fc3f",
              "mediaKey": "210b0a3b-3c57-46b7-a273-14375ef63ce7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "57e73a7c-4133-4dba-8b2d-b434ae2b641e",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=AidVY30HW2Q",
              "queryString": null
            }
          ]
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Sales"
          ]
        },
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Sales Techniques and Customer Relationship Management (CRM)"
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9e54229c-9829-4de2-a2ac-67837193b6a8",
              "mediaKey": "b47158d0-f5b9-41ba-8b93-8f7294e1bb2b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "key": "815dc147-3720-4bba-9577-c55e81449b92",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "www.youtube.com",
              "target": null,
              "udi": null,
              "url": "https://www.youtube.com/watch?v=X9btnkbpxrY",
              "queryString": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": "en",
          "editorAlias": null,
          "segment": null,
          "value": "Human Resources Management and Talent Development"
        },
        {
          "alias": "category",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Human Resources (HR)"
          ]
        },
        {
          "alias": "thumbnail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "73f14b3a-4e36-41bf-ad20-f85ea1a5a11f",
              "mediaKey": "30ea06db-37be-4954-a285-99c17481c1ed",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "152e3ef6-402f-450d-a82e-9ca23616c8cb",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "152e3ef6-402f-450d-a82e-9ca23616c8cb",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "1c00b446-b642-42a2-a6e3-601688ceb26f",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "1c00b446-b642-42a2-a6e3-601688ceb26f",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "bfc4c9b5-3b2b-4d67-b9e8-a20171b6a2f0",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "bfc4c9b5-3b2b-4d67-b9e8-a20171b6a2f0",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "f84ed7bd-eec1-471d-a9b5-d206acdc937d",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "f84ed7bd-eec1-471d-a9b5-d206acdc937d",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "57e73a7c-4133-4dba-8b2d-b434ae2b641e",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "57e73a7c-4133-4dba-8b2d-b434ae2b641e",
      "culture": "ar",
      "segment": null
    },
    {
      "contentKey": "815dc147-3720-4bba-9577-c55e81449b92",
      "culture": "en",
      "segment": null
    },
    {
      "contentKey": "815dc147-3720-4bba-9577-c55e81449b92",
      "culture": "ar",
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "152e3ef6-402f-450d-a82e-9ca23616c8cb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1c00b446-b642-42a2-a6e3-601688ceb26f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "bfc4c9b5-3b2b-4d67-b9e8-a20171b6a2f0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f84ed7bd-eec1-471d-a9b5-d206acdc937d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "57e73a7c-4133-4dba-8b2d-b434ae2b641e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "815dc147-3720-4bba-9577-c55e81449b92",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </videos>
  </Properties>
</Content>