<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d7fb3bd-a7fa-446a-b7b8-99eddb9ce90e" Alias="ملفات تعريف الارتباط" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>legalModel</ContentType>
    <CreateDate>2025-08-14T02:32:42</CreateDate>
    <NodeName Default="ملفات تعريف الارتباط" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d7232274-a7ef-4f3a-8e0d-64d727664293">cookiesPage</Template>
  </Info>
  <Properties />
</Content>