<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="db855ee9-86f4-4351-86ca-aeafd3ab1cb1" Alias="Application Development" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">تطوير التطبيقات</Translation>
    <Translation Language="en">Application Development</Translation>
  </Translations>
</Dictionary>