<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f26dacc5-fcc7-4b8b-b4b9-a908dec4d2f9" Alias="Discover more" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">اكتشف المزيد</Translation>
    <Translation Language="en">Discover more</Translation>
  </Translations>
</Dictionary>