<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ae90e057-6943-455e-848e-f403ffa8f5b5" Alias="Find Out More" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">اكتشف المزيد</Translation>
    <Translation Language="en">Find Out More</Translation>
  </Translations>
</Dictionary>