<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6b15dc66-3eba-43de-9132-f63e6252bc25" Alias="Footer.AllRightsReserved" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">جميع الحقوق محفوظة</Translation>
    <Translation Language="en">All rights reserved</Translation>
  </Translations>
</Dictionary>