<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a61499cf-5a15-421e-9d08-b75e1de8b93e" Alias="Footer.Company" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">الشركة الوطنية لنظم المعلومات</Translation>
    <Translation Language="en">Al Watania Information Systems</Translation>
  </Translations>
</Dictionary>