<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="bd9af534-6c06-4aa3-8abe-9ee359a71602" Alias="Go To Page" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">انتقل الى الصفحة</Translation>
    <Translation Language="en">Go To Page</Translation>
  </Translations>
</Dictionary>