<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ab20454f-a64e-46ac-b987-86a37f59142c" Alias="Human Resources (HR)" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">الموارد البشرية</Translation>
    <Translation Language="en">Human Resources (HR)</Translation>
  </Translations>
</Dictionary>