<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a4c1a197-30b8-42a5-8948-a0e140814f55" Alias="Information Technology (IT)" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">تقنية المعلومات</Translation>
    <Translation Language="en">Information Technology (IT)</Translation>
  </Translations>
</Dictionary>