<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5456fc0c-b023-4b59-8e1d-1c6d764bd568" Alias="Login.WelcomeSubtitle" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">سجّل دخولك للمتابعة.</Translation>
    <Translation Language="en">Sign in to continue.</Translation>
  </Translations>
</Dictionary>