<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="39876b76-f83a-455b-ad28-dc7079184ab9" Alias="Login.SignInWithMicrosoft" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">تسجيل الدخول عن طريق </Translation>
    <Translation Language="en">Sign in with </Translation>
  </Translations>
</Dictionary>