<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="028c72bd-87ed-42e9-8b01-019ea9f99a8e" Alias="Login.SignInSubtitle" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">للوصول إلى البوابة</Translation>
    <Translation Language="en">to access the portal</Translation>
  </Translations>
</Dictionary>