<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="49deb4eb-287a-44d0-acf4-f33e5ca96203" Alias="Login.HelperText" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">استخدم بريد شركتك وكلمة المرور.</Translation>
    <Translation Language="en">Use your company email and password.</Translation>
  </Translations>
</Dictionary>