<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5d7756b0-d596-4f5d-99ab-cf6d3cfe31bb" Alias="Login.WelcomeMessage" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">مرحباً بك في بوابة WiSys للخدمات الإلكترونية</Translation>
    <Translation Language="en">Welcome to the WiSys e-Services Portal</Translation>
  </Translations>
</Dictionary>