<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b00aa6f8-57fa-4728-ae60-6169c1fd5186" Alias="Login.FooterText" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">© الشركة الوطنية لنظم المعلومات – جميع الحقوق محفوظة</Translation>
    <Translation Language="en">© AlWatania Information Systems — All rights reserved</Translation>
  </Translations>
</Dictionary>