<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ac9552b6-7129-4b00-8820-0d3dadd7956a" Alias="Login.LanguageEnglish" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">English</Translation>
    <Translation Language="en">English</Translation>
  </Translations>
</Dictionary>