<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a9517097-4272-4725-83d1-363dc2443952" Alias="News.BackToNews" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">العودة إلى الأخبار</Translation>
    <Translation Language="en">Back to News</Translation>
  </Translations>
</Dictionary>