<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="61f0dd0b-6db0-49ae-815b-ae1325f05b16" Alias="No items found" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">No items found</Translation>
    <Translation Language="en">No items found</Translation>
  </Translations>
</Dictionary>