<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="47566be3-526c-4f89-a575-301569b12b25" Alias="Unsupported Media Type" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">نوع الوسائط غير المدعوم</Translation>
    <Translation Language="en">Unsupported Media Type</Translation>
  </Translations>
</Dictionary>