<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="6ececf09-0e15-4c0f-97a4-8e63c7946c31" Alias="Unsupported Content Type" Level="0">
  <Info />
  <Translations>
    <Translation Language="ar">نوع المحتوى غير مدعوم</Translation>
    <Translation Language="en">Unsupported Content Type</Translation>
  </Translations>
</Dictionary>