<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6a95846-f3f5-4da8-ba68-208db46f5ab1" Alias="BrandsList" Level="2">
  <Info>
    <Name>BrandsList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "68b94fde-adbb-4650-9a40-e3a62a1b48a7",
      "label": "{=label}",
      "editorSize": "medium",
      "backgroundColor": "#ffffff"
    }
  ]
}]]></Config>
</DataType>