<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ebf9c930-8fd3-4e69-a059-255bd4da825b" Alias="Card Item List" Level="2">
  <Info>
    <Name>Card Item List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f6a2178d-a179-46e4-a1e7-bc1495f95e49",
      "label": "{=date}  | {=title}",
      "backgroundColor": "#ffffffcc"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>