<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e187dfae-a066-440a-a780-7aced940619b" Alias="KnowledgeCardsLIst" Level="2">
  <Info>
    <Name>KnowledgeCardsLIst</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8659b881-899e-48f7-afb7-2738dd4bfd11",
      "label": "{=title}"
    }
  ]
}]]></Config>
</DataType>