<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d20b09f8-bfce-434f-a7f7-2ce368dc7d15" Alias="KnowledgeCategories" Level="2">
  <Info>
    <Name>KnowledgeCategories</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Information Technology (IT)",
    "Human Resources (HR)",
    "SAP",
    "Application Development",
    "Marketing",
    "Sales"
  ]
}]]></Config>
</DataType>