<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6ba5124-4e35-4ca1-9aa4-0f3c271cee9b" Alias="KnowledgeTypes" Level="2">
  <Info>
    <Name>KnowledgeTypes</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Video",
    "Course"
  ]
}]]></Config>
</DataType>