<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31387cd5-6eae-4c1d-ae1f-03de95e39c39" Alias="Navigation Items (Footer)" Level="3">
  <Info>
    <Name>Navigation Items (Footer)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Navigation</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c9100571-f77d-44ca-ad75-c8c149f8de44",
      "label": "{=label}",
      "editorSize": "large",
      "backgroundColor": "#00000000",
      "iconColor": "#2929a8"
    }
  ],
  "useInlineEditingAsDefault": true,
  "useLiveEditing": false
}]]></Config>
</DataType>