<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9cca4af9-9a4a-4db2-b759-96858cb7be89" Alias="Navigation Items (Header)" Level="3">
  <Info>
    <Name>Navigation Items (Header)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Navigation</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "260bfa1d-389c-4be2-b254-4693b9e14e8a",
      "label": "{=label}",
      "editorSize": "large",
      "backgroundColor": "#00000000",
      "iconColor": "#000000"
    }
  ],
  "useInlineEditingAsDefault": true
}]]></Config>
</DataType>