<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ace4d12-b6c2-487a-ab7d-1e277d888654" Alias="PolicieCategory" Level="2">
  <Info>
    <Name>PolicieCategory</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "All",
    "Policy",
    "Procedure"
  ]
}]]></Config>
</DataType>