<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abd1dd3c-e4dd-41a1-9178-c63f9183beb0" Alias="PoliciesList" Level="2">
  <Info>
    <Name>PoliciesList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cbaa7ae1-71e8-4c66-be7f-9dc2a24b6909",
      "label": "{=label}",
      "editorSize": "medium"
    }
  ]
}]]></Config>
</DataType>