<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b46f57ad-f646-496e-a01e-36d8aa6f21ce" Alias="System Link Item List" Level="2">
  <Info>
    <Name>System Link Item List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3ff96e3d-d8e6-421b-b0ee-b549123e1202",
      "label": "{=title}",
      "editorSize": "medium"
    }
  ]
}]]></Config>
</DataType>