<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9313ff90-e442-4e0c-b91c-3519f8bae8fa" Alias="articlesPageModel" Level="2">
  <Info>
    <Name>ArticlesPageModel</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Models</Folder>
    <Compositions>
      <Composition Key="59c23904-3ec5-4188-9aa6-b9e346eb7257">cardsSection</Composition>
    </Compositions>
    <DefaultTemplate>articlesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="61246b7e-e14d-41ba-9365-487a02f125b0">articlesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9313ff90-e442-4e0c-b91c-3519f8bae8fa" SortOrder="0">articlesPageModel</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>df64dd2e-cebe-424d-a3ee-f79e5dfa93b9</Key>
      <Name>Sub Title</Name>
      <Alias>subTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="wrapper">Wrapper</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c33e4eb2-b17c-437f-8c72-124cfe4854b4</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="wrapper">Wrapper</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5400826a-5db4-4d58-8449-b0c4996ecf22</Key>
      <Caption>Wrapper</Caption>
      <Alias>wrapper</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>