<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7a257d74-796e-47de-8ccd-4cf7910bd23d" Alias="authModel" Level="2">
  <Info>
    <Name>AuthModel</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Models</Folder>
    <Compositions />
    <DefaultTemplate>loginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b294a151-1d61-409a-9036-e6dda291a3b0">loginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>