<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="50748867-d202-4f46-8ad8-1d0fc1044aaf" Alias="homeModel" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Models</Folder>
    <Compositions>
      <Composition Key="68b94fde-adbb-4650-9a40-e3a62a1b48a7">brand</Composition>
      <Composition Key="b5c2e05c-a443-4a4e-bf95-fb80e996996c">footer</Composition>
      <Composition Key="5be24438-dab3-46c6-b4d6-8e6db90a7542">header</Composition>
    </Compositions>
    <DefaultTemplate>HomeModel</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="73ae3bad-b1cb-437c-a688-5e96317d3495">HomeModel</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="54e8b89e-770d-42e7-9b83-91297bed31ad" SortOrder="0">newsModel</ContentType>
    <ContentType Key="968ef85b-d6d9-4dfd-8683-243c632192b4" SortOrder="1">articleDetailsModel</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8353c66c-70b6-4663-a46c-eb37239be5ea</Key>
      <Name>AdsCards</Name>
      <Alias>adsCards</Alias>
      <Definition>ebf9c930-8fd3-4e69-a059-255bd4da825b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="adsSection">Ads Section</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6860df4-0cd2-472f-8a5d-98b430ba1449</Key>
      <Name>ِAdvertisementsImages</Name>
      <Alias>advertisementsImages</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ِAdvertisements">ِAdvertisements</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b5018ca-6c8f-4f0d-a92a-71a079900e21</Key>
      <Name>Cards</Name>
      <Alias>cards</Alias>
      <Definition>d6a95846-f3f5-4da8-ba68-208db46f5ab1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>10b048ae-4597-486c-a24c-7b08813fc51e</Key>
      <Name>News</Name>
      <Alias>news</Alias>
      <Definition>ebf9c930-8fd3-4e69-a059-255bd4da825b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="news">News</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51196b8c-d189-43bd-8186-1dedd9a24a6c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="title">Title</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>66abe9a3-2fc7-4909-86a6-9d86cb3ed6c1</Key>
      <Caption>News</Caption>
      <Alias>news</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8b6240da-f529-4678-a412-b35c1cb3ef78</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>aebae59a-ad92-4879-9b33-0216c174d05d</Key>
      <Caption>Ads Section</Caption>
      <Alias>adsSection</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>d69c8edf-81f1-472c-8375-70508dbe2b35</Key>
      <Caption>ِAdvertisements</Caption>
      <Alias>ِAdvertisements</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>edbf35a5-db43-4629-b817-f792600a84e7</Key>
      <Caption>Title</Caption>
      <Alias>title</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>