<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b6f404e4-f1ad-4136-9ce9-6c5d45ca8420" Alias="legalModel" Level="2">
  <Info>
    <Name>LegalModel</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d7232274-a7ef-4f3a-8e0d-64d727664293">cookiesPage</Template>
      <Template Key="923c0e50-0f6c-45ba-b70a-14c5759c8977">privacyPage</Template>
      <Template Key="c58d5a4f-892e-4b1b-8583-cb55931ceaeb">termsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>