<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a012c47-56b7-46e6-a6d4-c5bc89c4c29b" Alias="newsPageModel" Level="2">
  <Info>
    <Name>NewsPageModel</Name>
    <Icon>icon-document-js</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Models</Folder>
    <Compositions>
      <Composition Key="59c23904-3ec5-4188-9aa6-b9e346eb7257">cardsSection</Composition>
    </Compositions>
    <DefaultTemplate>news</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4c96a01a-1b2a-4735-b7b5-e6944f5d7cab">news</Template>
      <Template Key="c74d47bd-b009-46d6-8da8-eb097a660883">newsItemPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4a012c47-56b7-46e6-a6d4-c5bc89c4c29b" SortOrder="0">newsPageModel</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7f8cb5d4-0971-4730-8083-a32fe961abb9</Key>
      <Name>NewsList</Name>
      <Alias>newsList</Alias>
      <Definition>ebf9c930-8fd3-4e69-a059-255bd4da825b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="wrapper">Wrapper</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b58349ae-94ca-4254-98b9-9fda0bbaa4a1</Key>
      <Name>Sub Title</Name>
      <Alias>subTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="wrapper">Wrapper</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81c48316-ed30-40a0-a69b-06f1957b0275</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="wrapper">Wrapper</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4f0f06e0-4317-45dd-aa6c-bc96e557a2b1</Key>
      <Caption>Wrapper</Caption>
      <Alias>wrapper</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>