<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7fa54e12-45c1-4adc-939a-5f9913db2bef" Alias="newsDetailsModel" Level="3">
  <Info>
    <Name>NewsDetailsModel</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="54e8b89e-770d-42e7-9b83-91297bed31ad">newsModel</Parent>
    <Compositions>
      <Composition Key="54e8b89e-770d-42e7-9b83-91297bed31ad">newsModel</Composition>
    </Compositions>
    <DefaultTemplate>newsDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ba637585-1582-4156-befb-1e1423dee0ce">newsDetailsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>