<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54e8b89e-770d-42e7-9b83-91297bed31ad" Alias="newsModel" Level="2">
  <Info>
    <Name>NewsModel</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Models</Folder>
    <Compositions />
    <DefaultTemplate>news</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4c96a01a-1b2a-4735-b7b5-e6944f5d7cab">news</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7fa54e12-45c1-4adc-939a-5f9913db2bef" SortOrder="0">newsDetailsModel</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>