<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d8955796-a1b1-49ab-b24a-e31c51bf55ed" Alias="profile" Level="2">
  <Info>
    <Name>ProfileModel</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Models</Folder>
    <Compositions />
    <DefaultTemplate>Profile</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dfd7a0d0-f663-4f56-b911-dbd76e6b572b">Profile</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>